@page "/"
@inject IProposalServices Service
@inject IOptions<CaptchaOptions> CaptchaOptions

<PageTitle>Index</PageTitle>

<h1>Submit your proposal!</h1>

@if (!string.IsNullOrWhiteSpace(resultMessage))
{
    <div class="row">
        <div role="alert" class="alert col-md-12 alert-dismissible fade show @(isError ? "alert-danger" : "alert-success")">
            @resultMessage
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
}

<EditForm Model="model" role="form" OnValidSubmit="SubmitProposalAsync">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label>Nickname</label>
        <InputText @bind-Value="model.AuthorNickname" class="form-control" />
        <ValidationMessage For="@(() => model.AuthorNickname)" />
    </div>

    <div class="form-group">
        <label>Title</label>
        <InputText @bind-Value="model.Title" class="form-control" />
        <ValidationMessage For="@(() => model.Title)" />
    </div>

    <div class="form-group">
        <label>Description</label>
        <InputTextArea @bind-Value="model.Description"
                       class="form-control"
                       rows="10"
                       placeholder="Please, describe here your idea" />
        <ValidationMessage For="@(() => model.Description)" />
    </div>

    <div class="form-group mt-2">
        <div class="col-md-12">
            <Captcha SiteKey="@CaptchaOptions.Value.SiteKey"
                     OnSuccess="EnableSubmit"/>
        </div>
    </div>

    <div class="form-group mt-3">
        <button type="button" @onclick="Cancel" class="btn btn-outline-primary">Cancel</button>
        <button type="submit" disabled="@isSubmitDisabled" class="btn btn-primary">Submit</button>
    </div>
</EditForm>

@code {
    private ProposalModel model = new();

    private string resultMessage = "";
    private bool isError = false;

    private bool isSubmitDisabled = true;

    async Task SubmitProposalAsync()
    {
        try
        {
            await Service.SubmitProposalAsync(model);
            resultMessage = "Proposal submitted successfully!";
        }
        catch (Exception ex)
        {
            isError = true;
            resultMessage = ex.Message;
        }
    }

    void Cancel() => model = new();

    void EnableSubmit(string response)
    {
        isSubmitDisabled = false;
    }
}
